.container {
  max-width: 1080px;
  margin: 0 auto;
}

.header {
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
}

.form {
  display: flex;
  align-items: stretch;
  justify-content: center;

  margin-top: 40px;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 10px;
}
.form__label input {

  margin-left: 5px;
}